@import "./scss/variables";

//? css reset
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
}

body {
  background-color: $bg-color;
  font-size: 0.875rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  // width: 100%;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
p {
  font-size: 1.1rem;
}
